<header>
    <a href="#"><img src="img/Logo.png" class="logo"></a>
    <nav class="navigation clearfix">
        <ul class="menu">
            <li><a href="#">Головна</a></li>
            <li class="menu-item"><a href="#">Послуги</a>
                <ul class="submenu">
                    {{#each service}}
                        <li><a href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </li>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>

        <form action="index.html" method="get" class="form">
            <input type="email" class="email" placeholder="Login"/>
            <input type="password" class="password" placeholder="Password"/>
            <input type="submit" class="submit" value="submit"/>
        </form>
    </nav>
</header>