<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lilia</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    {{> header}}
 <main>
     <div class="conteiner clearfix">
         <img src="img/nogti.png" class="nogti">
         <p class="text">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
             фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
             та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
             прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их
             роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum,
             і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker,
             які використовували різні версії Lorem Ipsum.</p>
     </div>
 </main>
    {{> footer}}
</div>
</body>
</html>
<script type="text/javascript" src='script/mainPageJq.js'></script>
